<h1>
  Meeting Scheduler
</h1>
<form [formGroup]="meetingForm" (ngSubmit)="Get()">
  <div class="form-group">
    <label for="input">
      Meeting Details(Separated by new line)
    </label>
    <textarea class="form-control" rows="15" id="input" formControlName="input">
    </textarea>
  </div>
  <div class="form-group">

    <label for="tracks">
      Number of Tracks
    </label>
    <input type="number" class="form-control" id="tracks" formControlName="tracks" />
  </div>
  <button type="submit" (click)="Get()" class="btn btn-primary">
    Submit
  </button>
  <div class="form-group">
    <label for="output">
      Meeting Output
    </label>
    <textarea class="form-control" rows="30" id="output">
        {{output}}
    </textarea>
  </div>
</form>